body{
    font-family: 'Poppins', sans-serif;
   
}
/* ---------------------------- */
/* header section  */
/* ----------- */

header{
    display: flex;
    position: absolute;
   
   
}
.title{
    font-weight: 700;
    size: 24px;
    margin-left: 120px;
    margin-top: 87px;
}
nav{
    margin-right: 120px;
    padding-left: 494px;
    margin-top: 95px;
}
nav>ul{
    display: flex;
    
}
nav li{
    list-style: none;
    padding-right: 34px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.starter{
    margin-left: 120px;
    padding-top: 285px;
    width: 582px;
    height: 270px;
}
.starter-title{
    font-weight: 700;
    font-size: 52px;
    margin-top: 16px;
    margin-bottom: 16px;
}
p{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 16px;
}
button{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    color: white;
    width: 196px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    border: #E02C6D;
    /* top: 511px; */
}
.fa-arrow-right-long{
    padding-left: 8px;
}
.camera{
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
    position: absolute;
}
.logo-sec{
    height: 40px;
    width: 986px;
   display: flex;
   margin-left: 165px;
   margin-right: 165px;
   margin-top: 206px;
   border-top: 1px solid #ecf0f1;
   border-bottom: 1px solid #ecf0f1 ;
   padding: 36px;

}
.logo{
    padding-right: 60px;
}
/* ---------------------- */
/* Product style  */
/* ------------------ */
.pro-title{
    font-style: normal;
    font-size: 28px; 
    width: 290px;
    margin-left: 387px;
}


.products{
    margin-left: 196px;
    margin-top: 100px;

}
.gridding{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.product-select{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 319px;
    height: 446px;
    padding-left: 16px;
    padding-top: 15px;
    
}
.price{
    font-weight: 400;
    font-size: 24px;
    height: 36px;
    
}
.fa-star, .fa-star-half-stroke{
    color: #f39c12;
    width: 16px;
    height: 16px;
    left: 28px;
}
.ratings{
    width: 122px;
    height: 32px;
}
.details{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
   
}